@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Services";
}
<div class="service-background">
    <div class="contentS">
        <h1>Lorem Ipsum Dolor</h1>
        <p>A seasoned professional specializing in the intricate domains of information technology, particularly well-versed in the dynamic and evolving technological milieu of Malaysia.</p>
        <a href="#" class="cta-button">Get Free Quote Now</a>
    </div>
</div>

<!--service-->
<div class="solutions-title">
    <h2>We Offer <span class="highlight-text">Solutions</span></h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
</div>

<section class="servicesMain">
    <div class="serviceMain">
        <img src="~/Image/Services/serviceimg.png">
        <h2>Service 1</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="serviceMain">
        <img src="~/Image/Services/serviceimg.png">
        <h2>Service 2</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="serviceMain">
        <img src="~/Image/Services/serviceimg.png">
        <h2>Service 3</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
    <div class="serviceMain">
        <img src="~/Image/Services/serviceimg.png">
        <h2>Service 4</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</section>


<!-- Unlocking Advantages Section -->
<section class="unlocking-advantages">
    <h1>Unlocking Advantages</h1>
    <div class="container">
        <div class="benefits-intro">
            <h2>Benefits</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="benefits-list">
            <div class="benefit-item">
                <div class="icon-box">
                    <img src="~/Image/Services/lightning.png" alt="Icon">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            </div>
            <div class="benefit-item">
                <div class="icon-box">
                    <img src="~/Image/Services/lightning.png" alt="Icon">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            </div>
            <div class="benefit-item">
                <div class="icon-box">
                    <img src="~/Image/Services/lightning.png" alt="Icon">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            </div>
            <div class="benefit-item">
                <div class="icon-box">
                    <img src="~/Image/Services/lightning.png" alt="Icon">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
            </div>
        </div>
    </div>
</section>


<!-- Case Studies Section -->
<section class="case-studies">
    <h2>Case Studies</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="case-studies-container">
        <div class="case-study">
            <img src="~/Image/Services/casestudyimg.png" alt="Case Study 1">
            <h3>Case Study 1</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="case-study">
            <img src="~/Image/Services/casestudyimg.png" alt="Case Study 2">
            <h3>Case Study 2</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="case-study">
            <img src="~/Image/Services/casestudyimg.png" alt="Case Study 3">
            <h3>Case Study 3</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="case-study">
            <img src="~/Image/Services/casestudyimg.png" alt="Case Study 4">
            <h3>Case Study 4</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="case-study">
            <img src="~/Image/Services/casestudyimg.png" alt="Case Study 5">
            <h3>Case Study 5</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="case-study">
            <img src="~/Image/Services/casestudyimg.png" alt="Case Study 6">
            <h3>Case Study 6</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>
</section>

<div class="contact-section">
    <div class="contact-content">
        <h2>Power It Solutions  </h2>
        <h3>Our Approach</h3>
        <button class="contact-button" onclick="window.location.href='approach.html'">Learn More</button>
        <a href="about.html">About Us</a>
    </div>
</div>