@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Privacy and Term";
}

<div class="header-image">
    <img src="~/Image/PrivacyandTerm/privacyCover.png" alt="Founder of Power IT Malaysia" style="width: 100%; height: 250px;">
    <div class="header-text">
        <h2>Privacy Policy and Terms of Service</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
    </div>
</div>

<div class="main-contentPrivacy">
    <h1>Privacy Policy</h1>
    <div class="gapTextPrivacy"></div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.
    </p>



    <h1>Terms of Service</h1>
    <div class="gapTextPrivacy"></div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.
    </p>

    <div class="buttonPrivacy-container">
        <button class="buttonPrivacy" onclick="location.href='requestaquote.html'">Agree</button>
    </div>

</div>