@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Us";
}
    <div class="cover"></div>

    <main>
        <section class="contact">
            <!-- Description and other contents -->
            <section class="services">
                <div class="service">
                    <div class="gapBox"></div>
                    <i class='fas fa-phone-alt' style='font-size:65px'></i>
                    <h2>Talk to HR</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                    <button onclick="location.href='customer_service_contact.html'">Button</button>
                    <div class="gapBox"></div>
                </div>
                <div class="service">
                    <div class="gapBox"></div>
                    <i class="fas fa-comments" style="font-size:65px"></i>
                    <h2>Contact Customer Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
                    <button onclick="location.href='customer_service_contact.html'">Button</button>
                    <div class="gapBox"></div>
                </div>
                <div class="service">
                    <div class="gapBox"></div>
                    <i class="fa fa-envelope" style="font-size:65px"></i>
                    <h2>Send an Email</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                    <button onclick="location.href='customer_service_contact.html'">Button</button>
                    <div class="gapBox"></div>
                </div>
            </section>

        </section>
    </main>
