@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Customer Report";
}

    <div class="faq-header">
        <h2>Frequently Asked Question (FAQ)</h2>
    </div>
    <div class="faq-container">
        <ul class="faq-list">
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="hidden-content">
                    <t>Additional information for FAQ entry 1.</t>
                </div>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="hidden-content">
                    <t>Additional information for FAQ entry 2.</t>
                </div>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="hidden-content">
                    <t>Additional information for FAQ entry 3.</t>
                </div>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="hidden-content">
                    <t>Additional information for FAQ entry 4.</t>
                </div>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="hidden-content">
                    <t>Additional information for FAQ entry 5.</t>
                </div>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="hidden-content">
                    <t>Additional information for FAQ entry 6.</t>
                </div>
            </li>
        </ul>
    </div>


<div class="gapTextReport"></div>

    <div class="Title">
        <h1>Customer Report</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        <p>incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
    </div>

    <div class="Apply">
        <div class="quote-form-report">
            <ul>
                <li>
                    <label for="name">Full Name</label>
                    <input type="text" id="name">
                </li>
                <li>
                    <label for="email">Email</label>
                    <input type="email" id="email">
                </li>
                <li>
                    <label for="phone">Phone Number</label>
                    <input type="text" id="phone">
                </li>
                <li>
                    <label for="company">Company Name</label>
                    <input type="text" id="company">
                </li>
                <li>
                    <label for="desc" class="lbldesc">Report Description</label>
                    <textarea></textarea>
                </li>
            </ul>
        <button class="buttonReport" type="submit">Send Report</button>
        </div>
    </div>
<div class="gapTextReport"></div>
